[Unit]
Description=The Detectionator for capturing photographs using object detection
After=multi-user.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 1
ExecStart=/home/detectionator/Projects/detectionator/venv/bin/python /home/detectionator/Projects/detectionator/detectionator.py
Restart=on-failure
RestartSec=10
KillMode=process

# Steal all of the CPU time.
Nice=-19
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=90
User=detectionator
Group=detectionator
AmbientCapabilities=CAP_SYS_ADMIN CAP_SYS_NICE
IOSchedulingClass=realtime
IOSchedulingPriority=1

[Install]
WantedBy=multi-user.target
