[Unit]
Description=The Detectionator for capturing photographs using object detection
After=default.target

[Service]
Type=Notify
NotifyAccess=main
Environment=PYTHONUNBUFFERED=true
ExecStartPre=/bin/sleep 1
ExecStart=%h/Projects/detectionator/venv/bin/python %h/Projects/detectionator/detectionator.py --systemd-notify
Restart=on-failure
RestartSec=10
KillMode=process

# Steal all of the CPU time.
Nice=-19
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=90
# todo Might need to run service as root for these to take effect.
# User=jordan
# Group=jordan
# AmbientCapabilities=CAP_SYS_ADMIN CAP_SYS_NICE
# IOSchedulingClass=realtime
# IOSchedulingPriority=1

[Install]
WantedBy=default.target
