[Unit]
Description=The Detectionator for capturing photographs using object detection
After=default.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 1
ExecStart=%h/Projects/detectionator/venv/bin/python %h/Projects/detectionator/detectionator.py
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=default.target
